.olv-sidebar-container {
  flex: 1;
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}

.olv-sidebar-real {
  width: 240px;
  display: flex;
  flex-direction: column;

  > mat-slider {
    align-self: center;
  }
}

.slider-price-filter {
  width: 70%;
}

// Sliders styling
.slider-header {
  margin-left: 8px;
  margin-bottom: 0;
}

.slider-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider-form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 120px;
  width: 100%;
  margin: 8px;
}
