// The book cover ratio is 1.5:1 (height x width)
.book-card {
    max-width: 280px;

    img {
        max-width: 267px;
        align-self: center;
    }
}

.book-card img {
    max-height: 400px;
}

table {
  width: 100%;
  a {
    text-decoration: none;
    color: inherit;
  }

  th {
    font-size: large;
  }

  .libraryName {
    font-size: large;
  }
}