<div *ngIf="!filteredBooks"> 
    <mat-spinner></mat-spinner>
</div>
<mat-card class="book-card" *ngIf="filteredBooks">
    <mat-card-header>
        <mat-card-title>{{filteredBooks.at(0)?.title}}</mat-card-title>
        <mat-card-subtitle>{{filteredBooks.at(0)?.authors}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{filteredBooks.at(0)?.imgUrl}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
{{filteredBooks.at(0)?.library}}
        </p>
        <p>
R$ {{filteredBooks.at(0)?.price}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>