.container {
  padding-top: 12px;
}
// The book cover ratio is 1.5:1 (height x width)
.book-card {
  align-items: center;
  img {
    max-width: 267px;
    align-self: center;
  }
}

.best-price-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
  height: fit-content;
  min-height: 70px;
  margin-left: 50px;
}

.best-price-at {
  font-size: 1.3rem;
}

.best-price {
  font-weight: bold;
  font-size: 2.5rem;
}

.book-card img {
  max-height: 400px;
}

.table-wrapper {
  margin-left: auto;
}

table {
  border: rgb(175, 173, 173) solid 1px;

  .mat-column-offer {
    width: 180px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  th {
    font-size: large;
  }

  .libraryName {
    font-size: large;
  }
}
