<div class="container">
  <nav class="navbar navbar-light bg-light">
    <div class="row">
      <form class="form-inline">
        <div class="input-group">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go!</button> 
        </div>
      </form>
    </div>
  </nav>
  <div class="card">
    <div class="card-header">
      Lista de livros
    </div>
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>