$grid-gutter-width: 30px !default;

.container {
  margin: 0 !important;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.book-card {
  min-width: 250px;
  max-width: 266px;
  margin: 10px;
  padding: 0;
  flex: 1;
}

mat-paginator {
  margin-top: auto;
}
