$grid-gutter-width: 30px !default;

.container {
  margin: 0 !important;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.book-card {
  min-width: 250px;
  max-width: 266px;
  margin: 10px;
  padding: 0;
  flex: 1;
}

.card-header-title {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.card-image {
  cursor: pointer;
  max-width: 142px;
  align-self: center;
}

.book-price {
  font-size: 1.1rem;

  .book-price-value {
    font-weight: bold;
  }

  .book-price-currency {
    font-weight: 500;
  }
}

.card-body-region {
  align-self: center;
  align-items: center;
}

.book-authors {
  text-align: center;
}

mat-paginator {
  margin-top: auto;
}
